# Build
build/
out/
cmake-build-*/
bin/
lib/
compile_commands.json

# Visual Studio
.vs/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.suo
*.user
*.userosscache
*.sln.docstates
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Compiled
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.obj

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

vcpkg_installed/

imgui.ini

docs/